<form (ngSubmit)="onSearch()" class="mt-4 p-4 border rounded">
  <div class="container p-4 border rounded">
    <label for="address" class="form-label">Address</label>
    <input
      id="address"
      type="text"
      class="form-control"
      [(ngModel)]="address"
      name="address"
      placeholder="Enter an address"
      required
    />
    <button type="submit" class="btn btn-primary" [disabled]="!address">
      Search
    </button>
  </div>
  <div class="container p-4 border rounded">
    <label for="address" class="form-label">Search Preferences</label>
    <search-preferences
      (setSelectedTransportationMode)="
        onTransportationModeUpdated($event.currentTransportationMode)
      "
      (setSelectedAmenities)="
        onAmenitiesUpdated($event.currentSelectedAmenities)
      "
    ></search-preferences>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="onFetchPlaces.emit()"
      [disabled]="!address"
    >
      Update Query
    </button>
  </div>
</form>
