<mat-card  [ngStyle]="{'background': getHighlightColor(place?.score || 0)}">
  <mat-card-header>
    <a href="{{place?.place_url}}" class="image-with-link">
      <img mat-card-avatar [src]="place?.iconUrl">
    </a>
    <mat-card-title>{{place?.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="place?.score || place?.score === 0">Score: {{place?.score?.toFixed(2)}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="place?.rating || place?.rating === 0">Google Rating: {{place?.rating}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Distance:
      {{place?.distance}}
      Duration:
      {{place?.duration}}
    </p>
    <p>
      Type:
      {{place?.types}}
    </p>
  </mat-card-content>
</mat-card>
