<div
  class="nearby-place-header"
  *ngIf="nearbyPlaceCount > 0"
>
  <div class="score-container">
    <h3 class="score">15 minute city score: {{ totalScore.toFixed(2) }}</h3>
  </div>
  <div class="category-scores">
    <mat-chip *ngIf="financialServicesChecked">
      Financal score: {{ financialServicesScore.toFixed(2) }}
    </mat-chip>
    <mat-chip *ngIf="foodAndBeverageChecked">
      Food and Beverage score: {{ foodAndBeverageScore.toFixed(2) }}
    </mat-chip>
    <mat-chip *ngIf="healthAndWellnessChecked">
      Health and Wellness score: {{ healthAndWellnessScore.toFixed(2) }}
    </mat-chip>
    <mat-chip *ngIf="retailStoresChecked">
      Retail score: {{ retailStoresScore.toFixed(2) }}
    </mat-chip>
    <mat-chip *ngIf="automotiveChecked">
      Automotive score: {{ automotiveScore.toFixed(2) }}
    </mat-chip>
    <mat-chip *ngIf="entertainmentChecked">
      Entertainment score: {{ entertainmentScore.toFixed(2) }}
    </mat-chip>
    <mat-chip *ngIf="publicServicesAndGovernmentChecked">
      Public services and Government score:
      {{ publicServicesAndGovernmentScore.toFixed(2) }}
    </mat-chip>
    <mat-chip *ngIf="travelAndTourismChecked">
      Travel and tourism score: {{ travelAndTourismScore.toFixed(2) }}
    </mat-chip>
    <mat-chip *ngIf="homeAndGardenChecked">
      Home and garden score: {{ homeAndGardenScore.toFixed(2) }}
    </mat-chip>
    <mat-chip *ngIf="religiousPlacesChecked">
      Religious places score: {{ religiousPlacesScore.toFixed(2) }}
    </mat-chip>
  </div>
</div>

