.score {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.category-scores h4 {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}

.nearby-places {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}

mat-chip {
  margin: 5px
}
