<div class="mb-3">
  <label class="form-label">Transportation Mode:</label>
  <div class="radio-buttons">
    <div *ngFor="let mode of transportationModes" class="form-check">
      <input
        type="radio"
        id="{{ mode }}"
        name="transportationMode"
        class="form-check-input"
        [(ngModel)]="currentTransportationMode"
        [value]="mode"
        (change)="onModeChange()"
        required
      />
      <label for="{{ mode }}" class="form-check-label">
        <i class="bi bi-walk"></i> {{ mode }}
      </label>
    </div>
  </div>
</div>
