<mat-toolbar color="primary">
  <span>CIT1E5</span>
  <span class="spacer"></span>
</mat-toolbar>

<form class="address-travel-mode-container-form">
  <mat-form-field class="address-form-field" appearance="outline">
    <mat-label>Address</mat-label>
    <input
      #addressInput
      matInput
      placeholder="Enter Address"
      name="address"
      [(ngModel)]="address"
      required
      googleplace
      (change)="getPlaceAutocomplete()"
      (focus)="getPlaceAutocomplete()"
      (blur)="getPlaceAutocomplete()"
    />
  </mat-form-field>
  <div class="travel-mode-selector">
    <mat-form-field appearance="outline">
      <mat-label>Travel Mode</mat-label>
      <mat-select [(value)]="selectedTravelMode">
        @for (mode of travelModes; track mode) {
        <mat-option [value]="mode">{{ mode }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="nearby-button">
    <button
      mat-raised-button
      color="accent"
      (click)="getNearbyPlaces()"
      [disabled]="areAllCheckboxesUnchecked()"
    >
      Search nearby places
    </button>
  </div>
</form>

<div class="checkboxes-map-container">
  <div class="all-type-checkboxes" #checkboxContainer>
    <h3>Map search types</h3>
    <div class="financial-services-checkbox-group">
      <mat-checkbox
        (change)="toggleAllFinancialServices($event)"
        [indeterminate]="
          indeterminate(
            financialServicesChecked,
            financialServicesTypeSelection
          )
        "
      >
        <b>Financial Services</b>
      </mat-checkbox>
      <div class="childern-checkboxes" *ngIf="financialServicesChecked">
        @for (type of financialServicesTypeSelection; track type) {
        <mat-checkbox
          [checked]="type.selected"
          (change)="type.selected = !type.selected"
          >{{ type.type }}</mat-checkbox
        >
        }
      </div>
    </div>
    <div class="health-checkbox-group">
      <mat-checkbox
        (change)="toggleAllHealthAndWellness($event)"
        [indeterminate]="
          indeterminate(
            healthAndWellnessChecked,
            healthAndWellnessTypeSelection
          )
        "
      >
        <b>Health and Wellness</b></mat-checkbox
      >
      <div class="childern-checkboxes" *ngIf="healthAndWellnessChecked">
        @for (type of healthAndWellnessTypeSelection; track type) {
        <mat-checkbox
          [checked]="type.selected"
          (change)="type.selected = !type.selected"
          >{{ type.type }}</mat-checkbox
        >
        }
      </div>
    </div>
    <div class="retail-and-shopping-checkbox-group">
      <mat-checkbox
        (change)="toggleAllRetailStores($event)"
        [indeterminate]="
          indeterminate(retailStoresChecked, retailStoresTypeSelection)
        "
      >
        <b>Retail and shopping</b></mat-checkbox
      >
      <div class="childern-checkboxes" *ngIf="retailStoresChecked">
        @for (type of retailStoresTypeSelection; track type) {
        <mat-checkbox
          [checked]="type.selected"
          (change)="type.selected = !type.selected"
          >{{ type.type }}</mat-checkbox
        >
        }
      </div>
    </div>
    <div class="food-checkbox-group">
      <mat-checkbox
        (change)="toggleAllFoodAndBeverage($event)"
        [indeterminate]="
          indeterminate(foodAndBeverageChecked, foodAndBeverageTypeSelection)
        "
      >
        <b>Food and Beverage</b></mat-checkbox
      >
      <div class="childern-checkboxes" *ngIf="foodAndBeverageChecked">
        @for (type of foodAndBeverageTypeSelection; track type) {
        <mat-checkbox
          [checked]="type.selected"
          (change)="type.selected = !type.selected"
          >{{ type.type }}</mat-checkbox
        >
        }
      </div>
    </div>
    <div class="automotive-checkbox-group">
      <mat-checkbox
        (change)="toggleAllAutomotive($event)"
        [indeterminate]="
          indeterminate(automotiveChecked, automotiveTypeSelection)
        "
      >
        <b>Automotive</b></mat-checkbox
      >
      <div class="childern-checkboxes" *ngIf="automotiveChecked">
        @for (type of automotiveTypeSelection; track type) {
        <mat-checkbox
          [checked]="type.selected"
          (change)="type.selected = !type.selected"
          >{{ type.type }}</mat-checkbox
        >
        }
      </div>
    </div>
    <div class="entertainment-checkbox-group">
      <mat-checkbox
        (change)="toggleAllEntertainment($event)"
        [indeterminate]="
          indeterminate(entertainmentChecked, entertainmentTypeSelection)
        "
      >
        <b>Entertainment</b></mat-checkbox
      >
      <div class="childern-checkboxes" *ngIf="entertainmentChecked">
        @for (type of entertainmentTypeSelection; track type) {
        <mat-checkbox
          [checked]="type.selected"
          (change)="type.selected = !type.selected"
          >{{ type.type }}</mat-checkbox
        >
        }
      </div>
    </div>
    <div class="public-services-and-government-checkbox-group">
      <mat-checkbox
        (change)="toggleAllPublicServicesAndGovernment($event)"
        [indeterminate]="
          indeterminate(
            publicServicesAndGovernmentChecked,
            publicServicesAndGovernmentTypeSelection
          )
        "
      >
        <b>Public Services and Governmentt</b></mat-checkbox
      >
      <div
        class="childern-checkboxes"
        *ngIf="publicServicesAndGovernmentChecked"
      >
        @for (type of publicServicesAndGovernmentTypeSelection; track type) {
        <mat-checkbox
          [checked]="type.selected"
          (change)="type.selected = !type.selected"
          >{{ type.type }}</mat-checkbox
        >
        }
      </div>
    </div>
    <div class="travel-and-tourism-checkbox-group">
      <mat-checkbox
        (change)="toggleAllTravelAndTourism($event)"
        [indeterminate]="
          indeterminate(travelAndTourismChecked, travelAndTourismTypeSelection)
        "
      >
        <b>Travel and Tourism</b></mat-checkbox
      >
      <div class="childern-checkboxes" *ngIf="travelAndTourismChecked">
        @for (type of travelAndTourismTypeSelection; track type) {
        <mat-checkbox
          [checked]="type.selected"
          (change)="type.selected = !type.selected"
          >{{ type.type }}</mat-checkbox
        >
        }
      </div>
    </div>
    <div class="home-and-garden-checkbox-group">
      <mat-checkbox
        (change)="toggleAllHomeAndGarden($event)"
        [indeterminate]="
          indeterminate(homeAndGardenChecked, homeAndGardenTypeSelection)
        "
      >
        <b>Home and Garden</b></mat-checkbox
      >
      <div class="childern-checkboxes" *ngIf="homeAndGardenChecked">
        @for (type of homeAndGardenTypeSelection; track type) {
        <mat-checkbox
          [checked]="type.selected"
          (change)="type.selected = !type.selected"
          >{{ type.type }}</mat-checkbox
        >
        }
      </div>
    </div>
    <div class="religious-places-checkbox-group">
      <mat-checkbox
        (change)="toggleAllReligiousPlaces($event)"
        [indeterminate]="
          indeterminate(religiousPlacesChecked, religiousPlacesTypeSelection)
        "
      >
        <b>Religious places</b></mat-checkbox
      >
      <div class="childern-checkboxes" *ngIf="religiousPlacesChecked">
        @for (type of religiousPlacesTypeSelection; track type) {
        <mat-checkbox
          [checked]="type.selected"
          (change)="type.selected = !type.selected"
          >{{ type.type }}</mat-checkbox
        >
        }
      </div>
    </div>
  </div>
  <google-map
    #gmap="googleMap"
    [options]="mapOptions"
    [center]="mapCenter"
    [style.height.px]="googleMapHeight"
    height="100%"
    width="100%"
  >
    <map-marker [options]="markerOptions" [position]="mapCenter"></map-marker>
  </google-map>
</div>

<div class="score-and-calculation">
  <div class="score-container">
    <score
      [totalScore]="totalScore"
      [automotiveChecked]="automotiveChecked"
      [automotiveScore]="automotiveScore"
      [financialServicesChecked]="financialServicesChecked"
      [financialServicesScore]="financialServicesScore"
      [healthAndWellnessChecked]="healthAndWellnessChecked"
      [healthAndWellnessScore]="healthAndWellnessScore"
      [retailStoresChecked]="retailStoresChecked"
      [retailStoresScore]="retailStoresScore"
      [foodAndBeverageChecked]="foodAndBeverageChecked"
      [foodAndBeverageScore]="foodAndBeverageScore"
      [entertainmentChecked]="entertainmentChecked"
      [entertainmentScore]="entertainmentScore"
      [publicServicesAndGovernmentChecked]="publicServicesAndGovernmentChecked"
      [publicServicesAndGovernmentScore]="publicServicesAndGovernmentScore"
      [travelAndTourismChecked]="travelAndTourismChecked"
      [travelAndTourismScore]="travelAndTourismScore"
      [homeAndGardenChecked]="homeAndGardenChecked"
      [homeAndGardenScore]="homeAndGardenScore"
      [religiousPlacesChecked]="religiousPlacesChecked"
      [religiousPlacesScore]="religiousPlacesScore"
      [nearbyPlaceCount]="parsedNearbyPlaces.length"
    ></score>
  </div>

  <div class="calculation" (mouseover)="showCodeBlock = true" (mouseleave)="showCodeBlock = false">
    <span class="forumla-explanation" *ngIf="!showCodeBlock">
      The place score is calculated by adjusting the time it takes to get to a
      place (accounting for a minimum of 1 minute), scaling it to a 15-minute
      range, and factoring in the travel mode. If the place is more than 15
      minutes away, the score defaults to 0.
    </span>
    <pre *ngIf="showCodeBlock">
      <code [innerHTML]="codeblock"></code>
    </pre>
  </div>
</div>

<div
  class="nearby-place-cards-container"
  *ngIf="parsedNearbyPlaces && parsedNearbyPlaces.length > 0"
>
  @for (place of parsedNearbyPlaces; track place) {
  <nearby-place-card
    [place]="place"
  ></nearby-place-card>
  }
</div>
