<mat-toolbar color="primary">
  <span>City in 15</span>
  <span class="spacer"></span>
  <!-- <div class="darkmode">
    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle
      [formControl]="toggleControl"
      class="mr-8"
    ></mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
  </div> -->
</mat-toolbar>

<form (ngSubmit)="search()">
  <mat-form-field class="address-form-field">
    <input
      #addressInput
      matInput
      placeholder="Enter Address"
      name="address"
      [(ngModel)]="address"
      required
      googleplace
      (change)="getPlaceAutocomplete()"
      (focus)="getPlaceAutocomplete()"
    />
  </mat-form-field>
  <button [disabled]="!address" mat-raised-button color="primary" type="submit">
    Search
  </button>
</form>

<!-- <div class="types-checkbox-group">
  <div *ngFor="let type of googleMapsTypes">
    <mat-checkbox
      [checked]="type.selected"
      (change)="type.selected = !type.selected"
      >{{ type.type }}</mat-checkbox
    >
  </div>
</div> -->
<div class="all-type-checkboxes">
  <div class="financial-services-checkbox-group">
    <mat-checkbox (change)="toggleAllFinancialServices($event)">
      FinancialServices
    </mat-checkbox>
    <div class="childern-checkboxes">
      @for (type of financialServicesTypeSelection; track type) {
      <mat-checkbox
        [checked]="type.selected"
        (change)="type.selected = !type.selected"
        >{{ type.type }}</mat-checkbox
      >
      }
    </div>
  </div>
  <div class="food-checkbox-group">
    <mat-checkbox (change)="toggleAllFoodAndBeverage($event)">Food</mat-checkbox>
    <div class="childern-checkboxes">
      @for (type of foodAndBeverageTypeSelection; track type) {
      <mat-checkbox
        [checked]="type.selected"
        (change)="type.selected = !type.selected"
        >{{ type.type }}</mat-checkbox
      >
      }
    </div>
  <div class="health-checkbox-group">
    <mat-checkbox (change)="toggleAllHealthAndWellness($event)">Health</mat-checkbox>
    <div class="childern-checkboxes">
      @for (type of healthAndWellnessTypeSelection; track type) {
      <mat-checkbox
        [checked]="type.selected"
        (change)="type.selected = !type.selected"
        >{{ type.type }}</mat-checkbox
      >
      }
    </div>
</div>

<google-map
  #gmap="googleMap"
  [options]="mapOptions"
  [center]="mapCenter"
  height="80%"
  width="100%"
>
  <map-marker [options]="markerOptions" [position]="mapCenter"></map-marker>
</google-map>

<div class="travel-mode-selector">
  <mat-form-field appearance="fill">
    <mat-label>Travel Mode</mat-label>
    <mat-select [(value)]="selectedTravelMode">
      @for (mode of travelModes; track mode) {
      <mat-option [value]="mode">{{ mode }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="nearby-place-cards-container">
  @for (place of parsedNearbyPlaces; track place) {
  <nearby-place-card
    [mapCenter]="mapCenter"
    [place]="place"
    [travelMode]="selectedTravelMode"
    (renderRoute)="renderRoute($event)"
  ></nearby-place-card>
  }
</div>
