<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-4">
      <h1 class="">CIT1E5</h1>
      <search-form
        (setSelectedTransportationMode)="
          onTransportationModeUpdated($event.currentTransportationMode)
        "
        (setSelectedAmenities)="
          onAmenitiesUpdated($event.currentSelectedAmenities)
        "
        (onFetchPlaces)="onFetchPlaces()"
        (toggleBoundaries)="onToggleBoundaries($event)"
        (speedChange)="onSpeedChange($event)"
      ></search-form>
    </div>
    <div class="col-md-8 mb-4">
      <div class="p-4 border rounded">
        <open-street-map
          [latitude]="
            searchResults() && searchResults()!.length
              ? searchResults()![0].lat
              : 0
          "
          [longitude]="
            searchResults() && searchResults()!.length
              ? searchResults()![0].lon
              : 0
          "
          [radius]="radius"
          [nearByPlaces]="places"
          [showBoundaries]="showBoundaries"
          (onMapCenterUpdated)="onMapCenterUpdated($event)"
          (onMapInitialized)="onMapInitialized($event)"
        ></open-street-map>
      </div>
    </div>
    <div class="col-md-4">
      <score
        *ngIf="places.length > 0"
        [places]="places"
        [selectedAmenities]="currentAmenities"
      ></score>
    </div>
    <div class="col-md-8">
      <search-results
        [places]="places"
        [searchResults]="searchResults()"
        [errorMessage]="errorMessage()"
        [overpassError]="overpassError()"
      ></search-results>
    </div>
  </div>
</div>
